<a href="https://colab.research.google.com/github/jan-podlipny/CS224n/blob/master/yelp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#crash colab to get 25gb ram
crash = []
while True:
    crash.append(' '*10**2)

In [2]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"janpodlipny","key":"8ad3b6dd1599aceb5e5b8732dcb70d91"}'}

In [3]:
# Let's make sure the kaggle.json file is present.
!ls -lha kaggle.json

-rw-r--r-- 1 root root 67 Feb 24 22:20 kaggle.json

In [0]:
# Next, install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [0]:
!kaggle datasets list -s yelp

In [9]:
!kaggle datasets download -d yelp-dataset/yelp-dataset

Downloading yelp-dataset.zip to /content
100% 3.62G/3.62G [00:42<00:00, 114MB/s]
100% 3.62G/3.62G [00:42<00:00, 91.7MB/s]

In [12]:
!unzip /content/yelp-dataset.zip -d /content/yelp

Archive:  /content/yelp-dataset.zip
  inflating: /content/yelp/Dataset_Challenge_Dataset_Agreement.pdf
  inflating: /content/yelp/yelp_academic_dataset_business.json
  inflating: /content/yelp/yelp_academic_dataset_checkin.json
  inflating: /content/yelp/yelp_academic_dataset_review.json
  inflating: /content/yelp/yelp_academic_dataset_tip.json
  inflating: /content/yelp/yelp_academic_dataset_user.json

In [0]:
path = 'content/yelp/'

In [0]:
import numpy as np
import pandas as pd
import json

In [23]:
users = []
with open('/content/yelp/yelp_academic_dataset_user.json') as fl:
    for i, line in enumerate(fl):
        users.append(json.loads(line))
users = pd.DataFrame(users)
users.head()

                  user_id    name  ...  compliment_writer compliment_photos
0  l6BmjZMeQD3rDxWUbiAiow  Rashmi  ...                  2                 0
1  4XChL029mKr5hydo79Ljxg   Jenna  ...                  0                 0
2  bc8C_eETBWL0olvFSJJd0w   David  ...                  0                 0
3  dD0gZpBctWGdWo9WlGuhlA  Angela  ...                  1                 0
4  MM4RJAeH6yuaN8oZDSt0RA   Nancy  ...                 25                 5

[5 rows x 22 columns]

In [24]:
business = []
with open('/content/yelp/yelp_academic_dataset_user.json') as fl:
    for i, line in enumerate(fl):
        business.append(json.loads(line))
business = pd.DataFrame(business)
business.head()

                  user_id    name  ...  compliment_writer compliment_photos
0  l6BmjZMeQD3rDxWUbiAiow  Rashmi  ...                  2                 0
1  4XChL029mKr5hydo79Ljxg   Jenna  ...                  0                 0
2  bc8C_eETBWL0olvFSJJd0w   David  ...                  0                 0
3  dD0gZpBctWGdWo9WlGuhlA  Angela  ...                  1                 0
4  MM4RJAeH6yuaN8oZDSt0RA   Nancy  ...                 25                 5

[5 rows x 22 columns]

In [25]:
reviews = []
with open('/content/yelp/yelp_academic_dataset_review.json') as fl:
    for i, line in enumerate(fl):
        reviews.append(json.loads(line))
        if i > 10**6:
          break
reviews = pd.DataFrame(reviews)
reviews.head()

                review_id  ...                 date
0  Q1sbwvVQXV2734tPgoKj4Q  ...  2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ...  2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ...  2016-11-09 20:09:03
3  yi0R0Ugj_xUx_Nek0-_Qig  ...  2018-01-09 20:56:38
4  11a8sVPMUFtaC7_ABRkmtw  ...  2018-01-30 23:07:38

[5 rows x 9 columns]

In [26]:
tip = []
with open('/content/yelp/yelp_academic_dataset_tip.json') as fl:
    for i, line in enumerate(fl):
        tip.append(json.loads(line))
tip = pd.DataFrame(tip)
tip.head()

                  user_id  ... compliment_count
0  UPw5DWs_b-e2JRBS-t37Ag  ...                0
1  Ocha4kZBHb4JK0lOWvE0sg  ...                0
2  jRyO2V1pA4CdVVqCIOPc1Q  ...                0
3  FuTJWFYm4UKqewaosss1KA  ...                0
4  LUlKtaM3nXd-E4N4uOk_fQ  ...                0

[5 rows x 5 columns]

In [27]:
checkin = []
with open('/content/yelp/yelp_academic_dataset_checkin.json') as fl:
    for i, line in enumerate(fl):
        checkin.append(json.loads(line))
checkin = pd.DataFrame(checkin)
checkin.head()

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...